#main-area {
  width: 85%;
  float: left;
}

#main-area-center {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding-left: 20px;
}

#notes, #pinned {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.note {
  margin-top: 10px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input, textarea, .note-actions-row{
  border: none;
  border-radius: 4px;
}

.title {
  font-weight: bold;
}

.note-actions-row {
  background-color: white;
  margin-top: -5px;
}

.entry, .title, .note-actions-row {
  width: 100%;
  padding: 12px 20px;
  display: block;
  box-sizing: border-box;
  outline: none;
  background-color: inherit;
  font-size: 18px;
}


.unarchive-button, .save-button, .delete-button, .archive-button, .restore-button {
  width: 20%;
  background-color: inherit;
  color: black;
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 15px;
  outline: none;
  border-radius: 1px;
}

.dropbtn {
  width: 20%;
  background-color: inherit;
  color: black;
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 0;
  outline: none;
  border-radius: 1px;
  float: left;
  text-align: center;
  position: relative;
}

.color{
  color: black;
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 15px;
  outline: none;
  border-radius: 1px;
  width: 90px;
  text-align: center;
  cursor: pointer;
}

.white{
  background-color: white;
}

.red {
  background-color: rgb(241, 142, 85);
}

.yellow {
  background-color: rgb(241, 204, 41);
}

.green {
  background-color: #82e669;
}

.blue {
  background-color: rgb(43, 169, 228);
}

.violet {
  background-color: rgb(133, 38, 221);
}

.unarchive-button:hover, .save-button:hover, .delete-button:hover, .archive-button:hover,
.restore-button:hover, .dropbtn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.unarchive-button:active, .save-button:active, .delete-button:active, .archive-button:active,
.restore-button:active, .dropbtn:active {
  background-color: rgba(0, 0, 0, 0.15);
}



/* #new-note .entry {
  border: 1px solid #ccc;
  border-radius: 3px;
} */

#new-note .title {
  display: none;
}

#new-note .pad {
  width: 79%;
}

#new-note:focus-within .title, #new-note:focus-within .note-actions-row {
  display: block;
}


.note .note-actions-row {
  display: none;
}

.note:focus-within .note-actions-row {
  display: block;
}

.note:focus-within .entry {
  display: block;
}

.-button {
  display: none;
}

.pad {
  height: 1px;
  float: left;
}

.dropdown {
  width: 20%;
  position: relative;
}

.colors {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
  top: 34px;
}

.dropbtn:hover .colors {
  display: block;
}
