#sidebar {
  width: 15%;
  min-width: 100px;
  float: left;
  position: fixed;
  margin-top: 60px;
}

ul {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

#sidebar p {
  margin: 0;
  font-size: 17px;
}


#sidebar li{
  padding: 20px 0px;
}

#sidebar li:hover {
  background-color: #7a77778e;
  cursor: pointer;
}

#sidebar a {
  color: rgb(75, 75, 75);
  display: inline;
  text-decoration: none;
  padding: 15px 0px 15px 15px;
  height: 100%;
  width: 100%;
}

#sidebar a:visited {
  color: rgb(75, 75, 75);
}